<header class="content-container">
  <div class="container clear">
    <div class="col full">
      <div class="logo">
        <a><img class="brand-logo-cls" srcset="../../../assets/images/brand-logo.jpg"
            src="../../../assets/images/brand-logo.jpg" alt="Spanish Food Supermarket"></a>
        <span class="brand-logo-text-one">Spanish Corner Shop</span>
        <span class="brand-logo-text-two">Spanish Food, Delivered</span>
      </div>

      <div class="navigation clear">
        <button id="nav-toggle" aria-hidden="true">Menu</button>
        <nav id="nav" class="clear nav-collapse nav-collapse-0 closed"
          style="transition: max-height 284ms ease 0s; position: relative;" aria-hidden="false">
          <ul class="main logged-out">
            <li class="home"><a href="https://www.britishcornershop.co.uk/">Home</a></li>
            <li class="shop"><a>Shop</a></li>
            <li class="shipping"><a>Delivery</a></li>
            <li class="about"><a>About Us</a></li>
            <li class="faqs"><a>FAQs</a></li>
            <li class="contact"><a>Contact Us</a></li>
          </ul>
        </nav>
        <div>
          <ul class="country-and-basket">
            <li class="basket" rel="nofollow" title="View Basket and Checkout"><a href="shopping_basket.asp"><img
                  srcset="../../../assets/images/basket.png" src="../../../assets/images/basket.png" alt="My Basket"
                  width="30" height="30"> <span class="counter">0</span></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</header>