.product-container{
    height: 200px;
    width: 165px;
    border: 1px solid;
    display: inline-block;
    margin: 10px;
}

.image-container{
    height: 80%;
}

.title{
    margin-top: auto;
    height: 20px;
}