<div class="row mb-1 search-bar">
    <div class="col-md-4 col-12 side-panels ">
      <mat-form-field class="example-full-width float-right">
        <input matInput placeholder="Brands">
      </mat-form-field>
    </div>
    <div class="col-md-4 col-12 flex justify-center">
        <!-- <input type="text" name="search" placeholder="Search.."> -->
        
        <mat-form-field class="search" appearance="outline">
            <mat-label>Search Products</mat-label>
            <input type="text" matInput >
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
    </div>
    <div class="col-md-4 col-12 side-panels">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="categories">
      </mat-form-field>
      <!-- <mat-form-field appearance="outline">
          <mat-label>Categories</mat-label>
          <input matInput placeholder="Search">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field> -->
    </div>
</div>