<div class="footer-main-div">
  <div class="flex flex-direction-row footer-main-row">
    <div class="flex flex-direction-column footer-column-width">
      <h4 class="footer-heading footer-heading-color">Quick Links</h4>
      <div class="flex flex-direction-row footer-heading-color">
        <div class="flex flex-direction-column footer-quick-link">
          <div class="footer-heading-margin">About us</div>
          <div class="footer-heading-margin">Why us</div>
        </div>
        <div class="flex flex-direction-column footer-second-link">
          <div class="footer-heading-margin">FAQ's</div>
          <div class="footer-heading-margin">Terms & Conditions</div>
        </div>
      </div>
      <h4 class="footer-heading footer-heading-color">Secure Payments</h4>
      <div class="flex flex-direction-row">
        <img class="secure-payment-image" src="../../../assets/images/maestro.png" alt="maestro">
        <img class="secure-payment-image" src="../../../assets/images/rupay.png" alt="rupay">
        <img class="secure-payment-image" src="../../../assets/images/visa.png" alt="visa">
        <img class="secure-payment-image" src="../../../assets/images/discover.png" alt="discover">
        <img class="secure-payment-image" src="../../../assets/images/american-express.png" alt="american-express">
        <img class="secure-payment-image" src="../../../assets/images/master-card.png" alt="master-card">
      </div>
    </div>
    <div class="flex flex-direction-column footer-column-width">
      <h4 class="footer-heading footer-heading-color">Support</h4>
      <div class="flex flex-direction-row footer-heading-color footer-heading-support">
        <span class="footer-support-image">
          <img class="support-icon" src="../../../assets/images/call.png" alt="call">
        </span>
        <span class="footer-support-description">+1 xxxxxxxxxxxx</span>
      </div>
      <div class="flex flex-direction-row footer-heading-color footer-heading-support">
        <span class="footer-support-image">
          <img class="support-icon" src="../../../assets/images/whatsapp.png" alt="whatsapp">
        </span>
        <span class="footer-support-description">+1 xxxxxxxxxxxx</span>
      </div>
      <div class="flex flex-direction-row footer-heading-color footer-mail-support">
        <span class="footer-support-image">
          <img class="support-icon" src="../../../assets/images/mail.png" alt="mail">
        </span>
        <span class="footer-support-description">xyz@gmail.com</span>
      </div>
      <h4 class="footer-heading footer-heading-color footer-registered-address">Address</h4>
      <div class="footer-heading-color footer-address-location">
        XYZ, XXXXXXXXXXX, XXXX, France, Europe XXXXXXXX
      </div>
    </div>
    <div class="flex flex-direction-column footer-column-width">
      <h4 class="footer-heading footer-heading-color">Social Links</h4>
      <div class="flex flex-direction-row social-link-main-div">
        <img class="footer-social-link-image" src="../../../assets/images/fb.png" alt="fb">
        <img class="footer-social-link-image" src="../../../assets/images/twitter.png" alt="twitter">
        <img class="footer-social-link-image" src="../../../assets/images/google-plus-icon.png" alt="google-plus-icon">
        <img class="footer-social-link-image" src="../../../assets/images/instagram.png" alt="instagram">
        <img class="footer-social-link-image" src="../../../assets/images/pintrest.png" alt="pintrest">
        <img class="footer-social-link-image" src="../../../assets/images/linkedin.png" alt="linkedin">
      </div>
      <div class="copyright-main-div">
        <mat-icon class="absolute-position">copyright</mat-icon>
        <span class="absolute-position copyright-text">2019 www.xyz.com. All rights reserved </span>
      </div>
    </div>
  </div>
</div>